<form [formGroup]="teachersForm" (ngSubmit)="onSubmit()">
  <div formArrayName="teachers">
    <div *ngFor="let teacher of teachers().controls; let ti = index">
      <div
        [formGroupName]="ti"
        style="
          border: 1px solid blue;
          padding: 10px;
          width: 100%;
          display: inline-block;
          margin: 5px;
        "
      >
        Teachers Name :
        <input type="text" formControlName="name" />
        <button (click)="removeTeacher(ti)">Remove</button>
        <button type="button" (click)="addBatch(ti)">Add Batch</button>

        <div formArrayName="batches">
          <div *ngFor="let batch of batches(ti).controls; let bi = index">
            <div
              [formGroupName]="bi"
              style="
                border: 1px solid red;
                padding: 10px;
                margin: 5px;
                float: left;
              "
            >
              Batch Name :
              <input type="text" formControlName="name" />
              <button (click)="removeBatch(ti, bi)">Remove Batch</button>
              <button (click)="addStudent(ti, bi)">Add Student</button>

              <div formArrayName="students">
                <div
                  *ngFor="
                    let batch of students(ti, bi).controls;
                    let si = index
                  "
                >
                  <div
                    [formGroupName]="si"
                    style="border: 1px solid blue; padding: 2px"
                  >
                    Student Name :
                    <input type="text" formControlName="name" />
                    <button (click)="removeStudent(ti, bi, si)">
                      Remove student
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p>
    <button type="button" (click)="addTeacher()">Add Teacher</button>
  </p>

  <p>
    <button (click)="patchValue1()">PatchValue1</button>
  </p>
  <p>
    <button (click)="patchValue2()">PatchValue2</button>
  </p>

  <p>
    <button type="submit">Submit</button>
  </p>
</form>

{{ this.teachersForm.value | json }}
