<div style="border: 2px solid green">
  <button routerLink="home">home</button>
  <button [routerLink]="['contact']">contact</button>
  <button [routerLink]="['product']">product</button>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<div style="border: 2px solid red">
  <button [routerLink]="[{ outlets: { secondary: ['home'] } }]">
    Secondary home
  </button>
  <button [routerLink]="[{ outlets: { secondary: ['contact'] } }]">
    Secondary contact
  </button>
  <div>
    <router-outlet name="secondary"></router-outlet>
  </div>
</div>
